/* 公共样式 */
body {
    background: #efefef;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.bg-color-2{
    background: rgba(173, 165, 165, 0.3);
    padding: 5px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}
ol{
    margin: 0;
}
/* bg-color */
.bg-color{
    background: rgba(255,255,255,.7);
    padding: 5px;
    border-radius: 5px;
}

/* 表格 */
.am-table>tbody>tr>td,
.am-table>tbody>tr>th,
.am-table>tfoot>tr>td,
.am-table>tfoot>tr>th,
.am-table>thead>tr>td,
.am-table>thead>tr>th{
    border-top:transparent;
}


.am-g-fixed {
    max-width: 1100px;
}

@media only screen and (min-width: 641px) {
    .main-warp {
        min-width: 1030px;
    }
}

/* 头部导航 */

.con-warp .logo img {
    max-width: 150px;
    width: 100%;
}

header {
    padding: 10px 0;
    overflow: hidden;
    background: url("../images/header_bg.jpg") no-repeat;
    background-size: 100% 100%;
}

header a {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 5px;
    color: rgb(175, 127, 127);
}

header nav ul {
    margin: 0;
}

header nav li {
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
}

/* 激活状态 */

.active {
    background: rgb(111, 210, 218);
}

header nav li a:hover {
    color: #efefef;
}

/* 主要内容 */
@media only screen and (min-width: 641px){
    .am-g-fixed{
        min-width: 1050px;
    }
}

/*标题 */
.border-bottom{
    border-bottom: 1px solid #ccc;
}

/* 文章列表项 */
.post-con-footer li>a {
    margin: 0 10px;
}
.post-con-footer li a img{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}
/* 右侧 */
.con-right-1 a{
    display: inline-block;
    margin: 5px 10px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.con-rg-a-bg-1{
    background: url('../images/weibo.png') no-repeat;
    background-size: 100%;
    background-position: 0 0;
}
.con-rg-a-bg-2{
    background: url('../images/weixin.png') no-repeat;
    background-size: 100%;
    background-position: 0 0;
}
.con-rg-a-bg-3{
    background: url('../images/mail.png') no-repeat;
    background-size: 100%;
    background-position: 0 0;
}
.con-rg-a-bg-4{
    background: url('../images/GitHub.png') no-repeat;
    background-size: 100%;
    background-position: 0 0;
}

.con-right-4 .am-table a{
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
